<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Xiberr{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container_fluid">

		<!-- Header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					
				</button>
				<a class="navbar-brand" href="{% url 'music:index'   %}">Xiberr</a>
			</div >
			<!-- items -->
			<div class="collapse navbar-collapse" id="topNavBar">
				
				<ul class="nav navbar-nav">
					<li class="">
						<a href="{% url 'music:index'%}">
							<span class="glyphicon glyphicon-cd" aria-hidden="true" ></span>&nbsp;Albums
						</a>
					</li>
					<li class="">
						<a href="http://www.gaana.com">
							<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp;Gaana
						</a>
					</li>
					<li class="">
						<a href="https://www.saavn.com/">
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;Saavn
						</a>
					</li>

				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="{% url 'music:album-add' %} ">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Albums
						</a>
					</li>
					<li class="">
						<a href="https://www.youtube.com/?gl=IN">
							<span class="glyphicon glyphicon-play" aria-hidden="true"></span>&nbsp;YouTube
						</a>
					</li>

				</ul>

			</div>
				
			
		</div>
	</nav>
{% block body %}
{% endblock %}

</body>
</html>